.cartItemImage {
  width: 50px;
  height: auto;
  margin-top: 10%;
}
.cartItemCode {
  color: #7a7a7a;
  font-size: 12px;
}
.itemName {
  font-size: 14px;
  color: #0091ff;
  font-weight: bold;
}

.addToWishList {
  border-right: 1px solid #929dad;
  padding-right: 10px;
}
.removeItem {
  color: #e02020;
  border: none;
  background-color: white;
}
