.headerTop {
  /* background-color: aquamarine; */
  padding: 20px;
}
.headerTop a {
  text-decoration: none;
  font-size: 14px;
}
.headerControls a {
  color: black;
}
.lang {
  color: black;
}
.branches {
  color: #1b8194;
}
.headerTop ul li {
  margin-right: 10px;
}
.logo {
  text-align: center;
}
.logo img {
  max-width: 150px;
}
.rightBorder {
  border-right: 1px solid;
}
