.loginBanner {
  width: 100%;
  height: 100%;
}
.imageContainer {
  position: relative;
}
.loginImage {
  height: 100vh;
  background: url("../../images/login-image.jpg") no-repeat center;
  background-size: cover;
}
.imageText {
  color: white;
  position: absolute;
  top: 35%;
  left: 20%;
}
.loginBtn {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 0;
  padding: 10px 60px;
}
.loginBtn:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}
.logo {
  text-align: center;
}
.logo img {
  max-width: 132px;
}
.loginWarapper {
  max-width: 440px;
  margin: auto;
}
